<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-movs">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
        <h1>Gestor de Movimientos</h1>
       <button on-click="obtenerMovsBBVA" class="btn btn-success col-lg-4 col-xs-12"  type="button" name="button">Obtener Movimientos</button>
      </div>
      <div class="row">
        <table class="table table-striped">
          <thead>
            <th>Fecha</th>
            <th>Descripción</th>
            <th>Importe Operación</th>
            <th>Tipo Cambio</th>
            <th>Importe Convertido</th>
          </thead>
          <tbody>
            <template is="dom-repeat" items={{movimientos}}>
              <tr>
                <td>[[item.fechaMov]]</td>
                <td>[[item.obsMov]]</td>
                <td>[[item.importe]]</td>
                <td>[[item.tipoCambio]]</td>
                <td>[[item.importeCambio]]</td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
      <div class="row">
        <button on-click="retornarCuentas" class="btn btn-success"  type="button" name="button">Retornar</button>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorMovs extends Polymer.Element {
      static get is() { return 'gestor-movs'; }
      static get properties() {
        return {
          movimientos: {
            type: Array,
            notify: true
          }
        };
      }

      obtenerMovimientos(){

        var request = new XMLHttpRequest();

        //recuperar datos de session
        var nroCuenta = sessionStorage.getItem("nroCuenta");

        var urlDestino = "http://localhost:3000/cuentas/";
        var urlParam1 = nroCuenta;
        var urlFinal = urlDestino + urlParam1;

        request.open("GET","http://localhost:3000/movimientos",false);
        request.setRequestHeader("Accept","application/json");
        request.send();
        //this.clientes = JSON.parse(request.responseText).value;
        this.movimientos = JSON.parse(request.responseText);
        console.log(this.movimientos);
      }

      anadirCliente(){
        var request = new XMLHttpRequest();
        request.open("POST","https://services.odata.org/V4/Northwind/Northwind.svc/Customers",false);
        request.setRequestHeader("Accept","application/json");
        request.setRequestHeader("Content-Type","application/json");
        var nuevoCliente = {"CustomerID":"12345","ContactName":"Pepe","CompanyName":"Pepes Bar"};
        var body = JSON.stringify(nuevoCliente);
        request.send(body);
        this.respuesta = request.responseText;
        console.log(this.respuesta);
      }

      obtenerMovsBBVA(){
        var request = new XMLHttpRequest();

        //recuperar datos de session
        var nroCuenta = sessionStorage.getItem("nroCuenta");
        console.log(nroCuenta);

        var urlDestino = "http://localhost:3000/movsbbva/";
        var urlParam1 = nroCuenta;
        var urlFinal = urlDestino + urlParam1;
        console.log(urlFinal);

        request.open("GET",urlFinal,false);
        request.setRequestHeader("Accept","application/json");
        request.send();
        //this.clientes = JSON.parse(request.responseText).value;
        this.movimientos = JSON.parse(request.responseText);
        console.log(this.movimientos);
      }

      retornarCuentas(){
        var divGestorCuentas = document.getElementById("divGestorMovs");
        divGestorCuentas.style.display = "none";

        var divGestorCuentas = document.getElementById("divGestorCuentas");
        divGestorCuentas.style.display = "block";
      }
    }

    window.customElements.define(GestorMovs.is, GestorMovs);
  </script>
</dom-module>
