<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-login2">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
       <h4>Usuario : </h4>
       <input type="text" placeholder="Ingrese su usuario" name="" value="{{usuarioFront::input}}">
      </div>
      <div class="row">
        <h4>Contraseña : </h4>
        <input type="password" placeholder="Ingrese su contraseña" name="" value="{{passwFront::input}}">
      </div>

      <div class="row">
        <button on-click="obtenerLogin" type="button" name="button">Ingresar</button>
      </div>

      <div class="row">
        <h2>[[userLoginError]]</h2>
      </div>

      <div class="row" style="display:none">
        <table class="table table-striped">
          <tbody>
            <template is="dom-repeat" items={{usrLogin}}>
              <tr>
                <td>[[item.idCliente]]</td>
                <td>[[item.nombreCliente]]</td>
                <td>[[item.apellidoCliente]]</td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorLogin2 extends Polymer.Element {
      static get is() { return 'gestor-login2'; }
      static get properties() {
        return {
          usrLogin: {
            type: Array,
            notify: true
          },
          usuarioFront : {
            type : String
          },
          passwFront : {
            type : String
          },
          userLoginError : {
            type : String
          }
        };
      }

      obtenerLogin(){
        var request = new XMLHttpRequest();

        var urlDestino = "http://localhost:3000/v2/login/";
        var urlParam1 = this.usuarioFront;
        var urlSeparator = "/";
        var urlParam2 = this.passwFront;
        var urlFinal = urlDestino + urlParam1 + urlSeparator + urlParam2;

        request.open("GET",urlFinal,false);
        request.setRequestHeader("Accept","application/json");
        request.send();
        this.usrLogin = JSON.parse(request.responseText);
        console.log(this.usrLogin);
        console.log(this.usrLogin.length);

        if (this.usrLogin.length == 1){
          //Guardar en session
          var idCliente = this.usrLogin[0].idCliente;
          sessionStorage.setItem("idCliente",idCliente);

          var divGestorCuentas = document.getElementById("divGestorCuentas2");
          divGestorCuentas.style.display = "block";

          var divGestorCuentas = document.getElementById("divGestorLogin2");
          divGestorCuentas.style.display = "none";
        } else {
          this.userLoginError = "Usuario o contraseña invàlidos";
        }

      }

    }

    window.customElements.define(GestorLogin2.is, GestorLogin2);
  </script>
</dom-module>
