<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-transfers">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
        <h1>Realizar Tranferencia</h1>
        <div class="row">
         <h4>Cuenta destino : </h4>
         <input type="text" placeholder="Ingrese cuenta destino" name="" value="{{cuentaDestinoFront::input}}">
        </div>
        <div class="row">
          <h4>Importe : </h4>
          <input type="text" placeholder="Importe" name="" value="{{importeFront::input}}">
        </div>
        <div class="row">
          <h4>Descripción : </h4>
          <input type="text" placeholder="Descripción de la operación" name="" value="{{descripcionFront::input}}">
        </div>

        <div >
          <button on-click="realizarTransferencia" class="btn btn-success col-lg-4 col-xs-12"  type="button" name="button">Realizar Transferencia</button>
        </div>

      </div>
      <div class="row">
        <button on-click="retornarCuentas2" class="btn btn-success"  type="button" name="button">Retornar</button>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorTransfers extends Polymer.Element {
      static get is() { return 'gestor-transfers'; }
      static get properties() {
        return {
          transferencias: {
            type: Array,
            notify: true
          },
          cuentaDestinoFront: {
            type: Number
          },
          importeFront: {
            type: Number
          },
          descripcionFront: {
            type: String
          },
          transferError: {
            type: String
          }
        };
      }

      anadirCliente(){
        var request = new XMLHttpRequest();
        request.open("POST","https://services.odata.org/V4/Northwind/Northwind.svc/Customers",false);
        request.setRequestHeader("Accept","application/json");
        request.setRequestHeader("Content-Type","application/json");
        var nuevoCliente = {"CustomerID":"12345","ContactName":"Pepe","CompanyName":"Pepes Bar"};
        var body = JSON.stringify(nuevoCliente);
        request.send(body);
        this.respuesta = request.responseText;
        console.log(this.respuesta);
      }

      realizarTransferencia(){
        //recuperar datos de session
        var idCliente = sessionStorage.getItem("idCliente");
        var nroCuenta = sessionStorage.getItem("nroCuenta");
        var saldoDisponible = sessionStorage.getItem("saldoDisponible");
        var saldoContable = sessionStorage.getItem("saldoContable");
        var fechaAlta = sessionStorage.getItem("fechaAlta");
        var fechaModif = sessionStorage.getItem("fechaModif");
        var monedaCuenta = sessionStorage.getItem("monedaCuenta");

        //validacion saldoDisponible
        if (parseFloat(saldoDisponible) >= parseFloat(this.importeFront)){

          var requestMovOrd = new XMLHttpRequest();
          var urlDestino = "http://localhost:3000/movsbbva/";
          var urlSeparator = "/";
          var urlParam1 = nroCuenta;
          var urlParam2 = "02";
          var urlParam3 = this.importeFront;
          var urlParam4 = this.descripcionFront
          var urlFinal = urlDestino + urlParam1 + urlSeparator + urlParam2 + urlSeparator + urlParam3 + urlSeparator + urlParam4 ;

          //Cargo a cuenta ordenante
          requestMovOrd.open("POST",urlFinal,false);
          requestMovOrd.setRequestHeader("Accept","application/json");
          requestMovOrd.send();
          this.respuestaTemp = JSON.parse(requestMovOrd.responseText);
          console.log(this.respuestaTemp);

          //Abono a cuenta destino
          urlParam1 = this.cuentaDestinoFront;
          urlParam2 = "01";
          urlFinal = urlDestino + urlParam1 + urlSeparator + urlParam2 + urlSeparator + urlParam3 + urlSeparator + urlParam4 ;
          requestMovOrd.open("POST",urlFinal,false);
          requestMovOrd.send();
          this.respuestaTemp = JSON.parse(requestMovOrd.responseText);
          console.log(this.respuestaTemp);

          alert("Trasnferencia realizada con éxito");

          //Actualizo Saldo ordenante DIRECTO DESDE FRONT

          //console.log("Omar");
          //var requestCuentas = new XMLHttpRequest();
          //var jsonidCliente="{\"idCliente\": ";
          //var jsonCuenta = "\"nroCuenta\": \"";
          //var jsonCuentaMon = "\"monedaCuenta\": \"";
          //var jsonSaldoD = "\"saldoDisponible\": ";
          //var urlCommaConApost = "\",";
          //var jsonSaldoC = "\"saldoContable\": ";
          //var urlCommaSinApost = ",";
          //var jsonFechaAlta = "\"fechaAlta\":\"";
          //var jsonFechaMov = "\"fechaModif\":\"";
          //var fechaAct = (new Date()).toLocaleDateString();
          //var jsonCuentaCompl8="\"}";
          //var nuevoSaldoDisponible = saldoDisponible - this.importeFront;
          //var nuevoSaldoContable = saldoContable - this.importeFront
          //
          //var jsonCuentaFinal = jsonidCliente + idCliente + urlCommaSinApost + jsonCuenta + nroCuenta
          //                      + urlCommaConApost + jsonCuentaMon + monedaCuenta + urlCommaConApost
          //                      + jsonSaldoD + nuevoSaldoDisponible + urlCommaSinApost
          //                      + jsonSaldoC + nuevoSaldoContable + urlCommaSinApost
          //                      + jsonFechaAlta + fechaAlta + urlCommaConApost + jsonFechaMov + fechaAct
          //                      + jsonCuentaCompl8;
          //
          //console.log(jsonCuentaFinal);
          //requestCuentas.body = JSON.parse(jsonCuentaFinal);
          //console.log(requestCuentas.body);
          //
          //var urlCuentas = "https://api.mlab.com/api/1/databases/oquesquen/collections/cuentas?apiKey=GOLqWa850qO8tsdCUdby6eq9eKPInBkt";
          //var urlFiltroCuentasCompl = "&q={\"nroCuenta\":\"";
          //var urlCuentasCompl2 ="\"}";
          //var urlFinalPut = urlCuentas + urlFiltroCuentasCompl + nroCuenta + urlCuentasCompl2
          //console.log(urlFinalPut);
          //
          //requestCuentas.open('PUT',urlFinalPut,false);
          //requestCuentas.setRequestHeader("Accept","application/json");
          //requestCuentas.setRequestHeader("Content-Type","application/json");
          //requestCuentas.setRequestHeader("Access-Control-Allow-Origin","*");
          //requestCuentas.send();
          //console.log(requestCuentas);

          //Actualizo Saldo ordenante pasando por BACKEND

          //urlParam1 = nroCuenta;
          //this.nuevoSaldo = saldoDisponible - this.importeFront;
          //this.nuevoSaldoContable = saldoContable - this.importeFront ;
          //urlParam2 = this.nuevoSaldo;
          //urlParam3 = this.nuevoSaldoContable;
          //var urlDestinoCuentas = "http://localhost:3000/cuentas/";
          //urlFinal = urlDestinoCuentas + urlParam1 + urlSeparator + urlParam2 + urlSeparator + urlParam3;
          //console.log("Nuevo Methods");
          //requestCuentas.open('PUT',urlFinal,false);

          //requestCuentas.setRequestHeader("Accept","application/json");
          //requestCuentas.setRequestHeader("Access-Control-Allow-Origin","*");
          //requestCuentas.setRequestHeader("Access-Control-Allow-Methods","POST,GET,PUT");
          //requestCuentas.setRequestHeader("Access-Control-Allow-Credentials",false);
          //requestCuentas.setRequestHeader("Access-Control-Allow-Headers", "Origin, X-Requested-With, Content-Type, Accept");
          //requestCuentas.setRequestHeader("Referrer-Policy","same-origin");
          //requestCuentas.setRequestHeader("X-Content-Type-Options","nosniff");

          //requestCuentas.send();
          //this.respuestaTemp = JSON.parse(requestCuentas.responseText);
          //console.log(this.respuestaTemp);

      } else {
          alert("Saldo insuficiente");
      }


        //Actualizo Saldo destino
      }

      retornarCuentas2(){
        var divGestorCuentas = document.getElementById("divGestorTransfers");
        divGestorCuentas.style.display = "none";

        var divGestorCuentas = document.getElementById("divGestorCuentas2");
        divGestorCuentas.style.display = "block";
      }
    }

    window.customElements.define(GestorTransfers.is, GestorTransfers);
  </script>
</dom-module>
