body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #577A8A;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav2 {
  overflow: hidden;
  background-color: #577A8A;
}

.topnav2 a {
  float: right;
  color: #F2F7F9;
  text-align: right;
  padding: 1px 1px;
  text-decoration: none;
  font-size: 8px;
}
