<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-cuentas2">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
        <h1>Gestor de Cuentas para Transferencias</h1>
       <button id="btnObtenerCuentas" on-click="obtenerCuentas" class="btn btn-success col-lg-4 col-xs-12"  type="button" name="button">Obtener Cuentas</button>
      </div>
      <div class="row">
        <table class="table table-striped">
          <thead>
            <th>Nro. de Cuenta</th>
            <th>Moneda</th>
            <th>Saldo Disponible</th>
            <th>Saldo Contable</th>
          </thead>
          <tbody>
            <template is="dom-repeat" items={{cuentas2}}>
              <tr>
                <td>[[item.nroCuenta]]</td>
                <td>[[item.monedaCuenta]]</td>
                <td>[[item.saldoDisponible]]</td>
                <td>[[item.saldoContable]]</td>
                <td><button on-click="rowselected" value="{{item.nroCuenta}}">Realizar Transferencia</button></td>
              </tr>
              <!--<select selectedIndex="{{item.selected}}" value="{{item.nroCuenta}}">
              </select>-->
            </template>
          </tbody>
        </table>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorCuentas2 extends Polymer.Element {
      static get is() {
        return 'gestor-cuentas2';
      }
      static get properties() {
        return {
          cuentas2: {
            type: Array,
            notify: true
          }
        };
      }

      rowselected(e){
        console.log(e);
        var model = e.model;
        var nroCuentaTemp = model.item.nroCuenta;
        var saldoDisponibleTemp = model.item.saldoDisponible;
        var saldoContableTemp = model.item.saldoContable;
        var fechaAlta = model.item.fechaAlta;
        var fechaModif = model.item.fechaModif;
        var monedaCuenta = model.item.monedaCuenta;
        console.log(nroCuentaTemp);
        sessionStorage.setItem("nroCuenta",nroCuentaTemp);
        sessionStorage.setItem("saldoDisponible",saldoDisponibleTemp);
        sessionStorage.setItem("saldoContable",saldoContableTemp);
        sessionStorage.setItem("fechaAlta",fechaAlta);
        sessionStorage.setItem("fechaModif",fechaModif);
        sessionStorage.setItem("monedaCuenta",monedaCuenta);

        var divGestorCuentas = document.getElementById("divGestorTransfers");
        divGestorCuentas.style.display = "block";

        var divGestorCuentas = document.getElementById("divGestorCuentas2");
        divGestorCuentas.style.display = "none";

      }

      obtenerCuentas(){
        var request = new XMLHttpRequest();

        //recuperar datos de session
        var idCliente = sessionStorage.getItem("idCliente");

        var urlDestino = "http://localhost:3000/cuentas/";
        var urlParam1 = idCliente;
        var urlFinal = urlDestino + urlParam1;

        request.open("GET",urlFinal,false);
        request.setRequestHeader("Accept","application/json");
        request.send();
        //this.clientes = JSON.parse(request.responseText).value;
        this.cuentas2 = JSON.parse(request.responseText);

      }

      anadirCliente(){
        var request = new XMLHttpRequest();
        request.open("POST","https://services.odata.org/V4/Northwind/Northwind.svc/Customers",false);
        request.setRequestHeader("Accept","application/json");
        request.setRequestHeader("Content-Type","application/json");
        var nuevoCliente = {"CustomerID":"12345","ContactName":"Pepe","CompanyName":"Pepes Bar"};
        var body = JSON.stringify(nuevoCliente);
        request.send(body);
        this.respuesta = request.responseText;
        console.log(this.respuesta);
      }
    }

    window.customElements.define(GestorCuentas2.is, GestorCuentas2);
  </script>
</dom-module>
